
/* Header.css */

.logo {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-item {
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.parallelogram-nav {
  display: flex;
  /* transform: skewX(20deg); */
  margin-left: auto;
}

.parallelogram-nav .nav-item {
  transform: skewX(20deg);
  margin-right: 0 !important;
}

/* Add this CSS code to your App.css file */
.nav-link.zoom-effect {
  transition: transform 0.2s;
}

.nav-link.zoom-effect:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .parallelogram-nav {
    transform: none;
  }

  .parallelogram-nav .nav-item {
    transform: none;
  }
}

/* Banner.css */

.gif-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./assets/images/coins.gif") no-repeat center center fixed;
  background-size: cover;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Details.css */

.details-container {
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 900px;
}

@media (max-width: 768px) {
  .details-container {
    font-size: 16px;
  }
}

/* ParallelogramItems.css */

.parallelogram-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de8612;
  color: #fff;
  padding: 10px;
  width: 500px;
  transform: skew(-20deg);
  border-radius: 8px;
  margin: 20px auto;
}
.parallelogram-container h5,
.parallelogram-container h4,
.parallelogram-container p {
  transform: skew(20deg);
}
.parallelogram-container p{
  font-weight: bold ;
}
.parallelogram-container .content {
  transform: skew(20deg);
  text-align: center;
}

.space-evenly {
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .parallelogram-container {
    width: 100%;
  }
}

/* WhatsApp.css */

.fixed-whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.fixed-whatsapp-icon:hover {
  background-color: #128c7e;
}